// section studio----------------------------------------------------------------------------

#studio {
    .story__titre {
      display: inline-block;
      padding-left: 20px;
      opacity: 0;
  
      &.visible {
        animation: fadeInFromBottom 300ms ease-out forwards;
      }
  
      &.deux.visible {
        animation: fadeInFromBottom 300ms ease-out forwards;
        animation-delay: 300ms; // Delay for the second span to appear after the first
      }
    }
  
    h2 {
      animation: fadeInFromBottom 2s ease-out forwards;
  
      &::before {
        animation: rotate 10s linear infinite; /* Animation fleur */
        transform-origin: 50% 44%;
      }
  
      &::after {
        animation: rotate 10s linear infinite; /* Animation fleur */
        transform-origin: 50% 42%;
      }
    }
  }
  @media (max-width: 421px){
    #studio h2{
      background-size: 310px 190px;
    }
  }
  